* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.common-width {
  width: 1500px;
  margin: auto;
}

/* navbar */
.navbar {
  background-color: #2e2622;
}

.nav-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon h1 {
  color: #e9b44c;
  font-size: 1.8rem;
}

.nav-container {
  width: 1800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: white;
}

/* header */
.bg-img {
  background-image: url("./img/bg-image.avif");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img,
.header-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.header-text h5 {
  color: #dcaa48;
}

.header-text h1 {
  font-size: 3rem;
}

.header-text button {
  padding: 17px 30px;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #e9b44c;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
